# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/crimes-stance-web/dist
/crimes-stance-web/tmp
/crimes-stance-web/out-tsc
/crimes-stance-web/bazel-out

# Node
/crimes-stance-web/node_modules
/crimes-stance-web/npm-debug.log
/crimes-stance-web/yarn-error.log

# IDEs and editors
/crimes-stance-web/.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/crimes-stance-web/.angular/
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

src/assets/data/sentiment/cenario-real/comentarios_2020_inferido_events.json

# Environment variables
/crimes-stance-web/.env
/crimes-stance-web/.env.*
!/crimes-stance-web/.env.example

# Angular specific
/crimes-stance-web/src/app/environments/environment.prod.ts