# Exemplo de configuração de ambiente
# Renomeie este arquivo para .env e preencha os valores abaixo

# URL base para os dados no R2
VITE_BASE_DATA_URL=https://sua-url-aqui.r2.dev

# IDs das regiões configuradas no orquestrador.json que devem ser ocultadas da listagem do site (ex: piaui,ceara)
HIDDEN_REGIONS=regiao1,regiao2
